{
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "tabWidth": 4,
    "printWidth": 100,
    "useTabs": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-tailwindcss"]
}
